*{
    margin: 0;
    padding: 0;
    object-fit: contain;
}

.imagen-login{
    object-fit: contain;
}

.login{
    height: 100vh;
}
.hub{
    height: 100vh;
}

body {
    background-image: url("img/fondoYotzil.png"); /* Replace "your-image.jpg" with the actual image filename and path */
    background-repeat: no-repeat; /* Prevents image repetition */
    background-size: cover; /* Stretches the image to cover the entire viewport */
    background-color: #8258FA; /* Morado */
    color: #570470; /* Blanco */
}
.btn-primary {
    color: #5e0b63;
    background-color: #fcfcfc; /* Morado */
}

.btn-secondary {
    color: #ffffff;
    background-color: #8258FA;
    border-color: #8258FA;
}
